.HeatMap{
    box-sizing: border-box;
    border: 5px;
    box-align: center;
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
    background-color: rgb(113, 205, 233);
}