.box{
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    border: 5px black;
}

.background{
    background-color: white;
    text-align: center;
    display: inline-block;
    width: auto;
    height: 50px;
}